<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationExercise Suite">
    <listeners>
        <listener class-name="com.wasfia.automationexercise.utils.TestListener"/>
    </listeners>
    <test name="Place Order Scenario">
        <classes>
            <class name="com.wasfia.automationexercise.tests.PlaceOrderTest"/>
        </classes>
    </test>
</suite>
